.paginationBtns {
    margin-top: 50px;
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBtns a {
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    border: 2.5px solid lightblue;
    color: lightblue;
    cursor: pointer;
  }
  
  .paginationBtns a:hover {
    color: white;
    background-color: lightblue;
  }
  
  .paginationActive a {
    color: white;
    background-color: lightblue;
  }

  .paginationDisabled {
    display: none;
  }